.intro {
  background: url("../img/bg-intro.jpg") no-repeat center center;
  background-size: cover;
  padding: 150px 0;
  text-align: center;
  color: white;
}

.intro h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.intro h1::after {
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  background: white;
  margin: 0.625rem auto;
}

.intro p {
  font-style: italic;
  font-size: 1.125rem;
}

@media (max-width: 739px) {
  .intro {
    padding: 3.75rem 0;
  }
}
